{
  "name": "datagen-impressions",
  "config": {
    "connector.class": "io.confluent.kafka.connect.datagen.DatagenConnector",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "kafka.topic": "impressions",
    "schema.filename": "impressions.avro",
    "schema.keyfield": "impressionid",
    "max.interval": 100,
    "iterations": 10000000,
    "tasks.max": "1"
  }
}